.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.navbar {
  list-style-type: none;
  padding: 0;
}

.navbar li {
  display: inline;
  margin-right: 20px;
}

.navbar a {
  color: #61dafb;
  text-decoration: none;
}

.dropzone {
  border: 2px dashed #61dafb;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  cursor: pointer;
}

.uploaded-image {
  margin-top: 20px;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.food-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.food-image {
  max-width: 30%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.2s;
}

.food-image:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

section {
  margin: 40px 20px;
}

h2 {
  margin-bottom: 20px;
}


/* General Styles */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.navbar {
  list-style-type: none;
  padding: 0;
}

.navbar li {
  display: inline;
  margin-right: 20px;
}

.navbar a {
  color: #61dafb;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #21a1f1;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5em;
  margin: 0.67em 0;
  color: #61dafb;
  letter-spacing: 1.5px;
}

h2 {
  font-family: 'Lobster', cursive;
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1em;
  line-height: 1.6;
  color: #666;
}

.dropzone {
  border: 2px dashed #61dafb;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.dropzone:hover {
  background-color: #eaf4fd;
  border-color: #21a1f1;
}

.uploaded-image {
  margin-top: 20px;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.food-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.food-image {
  max-width: 30%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.2s;
}

.food-image:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

section {
  margin: 40px 20px;
}
